@import "config";

.button {
  display: flex;
  margin: auto;
  margin-bottom: $gutter;
  flex-direction: row;
  justify-content: center;
}

.button__menu {
  display: flex;
  margin: auto;
  flex-direction: row;
  justify-content: space-between;
}

.button__menu > * {
  padding: $gutter * 0.5 $gutter;
  margin: $gutter/2;
  font-family: $font-heading;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  background-color: #ccc;
  border-radius: $gutter;
  transition: 300ms ease-in-out;

  &:hover {
    background-color: #999;
    transition: 300ms ease-in-out;
  }
}

.button__filter {
  background-color: $color-5;
  transition: 300ms ease-in-out;

  &:hover {
    background-color: $color-6;
    transition: 300ms ease-in-out;
  }
}

.buttons__finish {
  padding: 0;
  cursor: pointer;
  background: none;
  border: none; /* stylelint-disable-line */

  &--done {
    color: #1a1;
  }
}
