@import "config";

.button{
	// max-width: $max-width;
	padding: $gutter * 2;
	display: flex;
	justify-content: space-between;



    //  //setja þetta þegar það se stærri útgáfan?
	// @media(min-width: 800px) {
	// justify-content: center;
    
 //  }

}


.button > * {
	font-family: $font-heading;
	font-size: 1.5rem;
    background-color: #ccc;
    border-radius: $gutter;
    padding: $gutter*0.5 $gutter;

}

.buttons__finish {
    padding: 0;
    border: none;
    background: none;
    &--done {
        color: #1a1;
    }
}