@import "config";

.cards{
	  @include columns(12);
	  font-family: $font-heading;
	  display: flex;
	  flex-wrap: wrap;
}

	// setja bakgrunn á þá sem eru ekki með mynd þegar gluggi er stækkaður
	// búa fyrst til class á það div sem er tómt??
	// title og category þarf líka að fæast neðar
.thumbnail{
	//background-color: $color-4;
}

.card{
    padding-right: $gutter;
    padding-left: $gutter;
    padding-bottom: $gutter*2;

    @media(min-width: 800px) {
    	flex: 0 0 33.333333%;
    }

	&__titlecat {
		max-width: 445px;
		background-color: $color-4;
  }
}

.category{
	text-transform: uppercase;
	font-weight: 300;
}

.title{
	font-size: 1rem;
	font-weight: bold;
	text-decoration: none;
	color: $color-1;
}

a{
	color: $color-1;
	text-decoration: none;
}

a:visited{
	color: $color-1;
	text-decoration: none;
}
