@import "config";

.cards{
	  @include columns(12);
	  font-family: $font-heading;
    
	  display: flex;
	  // display: inline-block;
	  // align-content: strech;
	  flex-wrap: wrap;
}


.thumbnail{
	// object-fit: contain;
}

.card{
max-width: 450px;
// @media(max-width: $max-width -1) {
// 	max-width: 30%;
//     // padding-right: $gutter;
//     // padding-left: $gutter;
//   }

//   @media(min-width: 800px) {
//     @include columns(8);
//     // margin-right: auto;
//     // margin-left: auto;
// }



	
	padding-bottom: $gutter*2;

	&__titlecat {
		max-width: 445px;
		background-color: $color-4;
		margin-top: -$gutter*0.5;

  }
}

.category{
	text-transform: uppercase;
	font-weight: 300;
	// font-size: 1rem;
}

.title{
	font-size: 1rem;
	font-weight: bold;
	text-decoration: none;
	color: $color-1;
}

a{
	color: $color-1;
	text-decoration: none;
}

a:visited{
	color: $color-1;
	text-decoration: none;
}
