@import "config";

.header {
  margin-bottom: $gutter * 2;
  background-image: url('/./img/header.jpg');
  // background-color: $color-2;
  background-size: cover;
  font-family: $font-heading;
  padding: $gutter * 4;

  &__text {
    // display: flex;
    // max-width: $max-width;
    // margin: 0 auto;
    // flex-direction: column;
    text-transform: capitalize;
    text-align: center;
  }

  &__title {
    // margin-bottom: $gutter;

    font-size: 3rem;
    text-align: center;
  }
}